footer {
  padding: 2rem;
  background-color: rgb(38, 38, 38);
  font-size: var(--body-font-size-s);
}


footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}

footer .footer img{
  width: 150px;
  height: 65px;
}

footer .footerone {
  color: white;
  font-size: 14px;

  display: flex;
  align-items: flex-start; 
  flex-direction: row; 
  flex-wrap: nowrap; 

  height: 100%;
  padding: 15px;
  gap: 250px;

  border: 1px inset white;
  border-left-color: transparent;
  border-bottom-color: transparent;
  border-right: transparent;
}